:root {
  --verde-lima: #8cd611;       /* El verde brillante de tu botón Ingresar */
  --verde-bosque: #1a6334;     /* El verde oscuro de Gestionar Fichas */
  --bg-light: #f4f7f6;         /* El fondo grisáceo muy claro de tus capturas */
  --text-dark: #1a1a1a;
  --white: #ffffff;
}

body {
  background-color: var(--bg-light);
  font-family: 'Segoe UI', sans-serif;
  color: var(--text-dark);
  margin: 0;
}